* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.app-container {
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .83rem;
}

h6 {
    font-size: .67rem;
}

/* utilities */

.padding {
    padding: 1rem;
}

.padding-sm {
    padding: .5rem;
}

.margin {
    margin: 1rem;
}

.margin-sm {
    margin: .5rem;
}

.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

:root {
    --gray: #a3a3a3
}


/* container app */

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* side bar */

.side-bar {
    width: 200px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.logo img {
    width: 100%;
}

.nav-menu {
    padding: 1rem 0;
}

.nav-menu.d-flex {
    gap: .5rem;
    justify-content: center;
    flex-direction: column;
}

.nav-menu .d-flex {
    gap: .7rem;
}

.nav-menu img {
    width: 25px;
}

.nav-menu span {
    color: var(--gray);
    align-self: center;
}

.menu-playlist h4 {
    text-transform: uppercase;
    color: white;
    padding: .5rem 0;
}

.add-playlist {
    display: flex;
    gap: 1rem;
}

.add-playlist i {
    font-size: 2.5rem;
}

.add-playlist span {
    align-self: center;
}

.play-list * {
    color: var(--gray);
}

.list-playlist ul {
    list-style: none;
    color: var(--gray);
}

.list-playlist ul li {
    padding: 0.5rem 0;
}

.install img {
    width: 25px;
}

.install span {
    color: var(--gray);
    align-self: center;
    padding: 0 .5rem;
}

.border {
    border-top: 1px solid var(--gray);
    margin: 0.5rem 0;
}

.install.bottom.d-flex img {
    width: 25px;
    height: 25px;
    background-color: var(--gray);
    border-radius: 50%;
}


/* main container */

